/* fonts
------------------------------------------------------------------------------*/

@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap");

/* variables
------------------------------------------------------------------------------*/
:root {
  --background-color: #fff;
  --color: #343434;
  --border-color: #dedede;
  --primary-color: #1e1e1e;
  --secondary-color: #eeeeee;
}

/* Resets
------------------------------------------------------------------------------*/
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Base Styles
------------------------------------------------------------------------------*/
body {
  color: var(--color);
  background-color: var(--background-color);
  font-family: "Roboto Flex", sans-serif;
  text-align: center;
}

button {
  background-color: var(--background-color);
  color: var(--color);
  border: 1px solid var(--border-color);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--color);
}

a,
a:hover,
a:active,
a:visited {
  color: var(--color);
}

p {
  padding-bottom: 1rem;
}

/* Helper Classes
------------------------------------------------------------------------------*/
.heading-1,
.heading-2,
.sub-heading-3 {
  padding-bottom: 1rem;
  font-family: "Josefin Sans", sans-serif;
  display: block;
  font-weight: bold;
}

.heading-1 {
  font-size: clamp(44px, 10vw, 97px);
}

.heading-2 {
  font-size: clamp(34px, 8vw, 54px);
}

.sub-heading-3 {
  font-size: clamp(24px, 6vw, 34px);
}

.sub-heading-4 {
  font-size: clamp(10px, 4vw, 22px);
  padding-bottom: 8px;
}

.bold {
  font-weight: bold;
}
.text-md {
  font-size: clamp(10px, 4vw, 22px);
}

.underline {
  border-bottom: 1px solid var(--border-color);
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

/* Common Components 
------------------------------------------------------------------------------*/
.btn {
  background-color: var(--background-color);
  border: 1px solid var(--border-color);
  border-radius: 2px;
  color: var(--color);
  text-transform: capitalize;
  min-height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  font-size: 1rem;
}

.btn.btn-sm {
  width: fit-content;
  padding: 0 0.5rem;
}

.btn.btn-md {
  min-width: 100px;
}

.btn.btn-lg {
  min-width: 150px;
  min-height: 44px;
}

.btn.btn-primary {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.btn-icon {
  display: flex;
  align-items: center;
  margin: 0 8px;
  width: 24px;
}

header,
footer,
section {
  padding-right: 16px;
  padding-left: 16px;
}

section {
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
}

section:nth-child(odd) {
  background-color: var(--secondary-color);
}

section:nth-child(even) {
  background-color: #fff;
}

.section-intro {
  margin-bottom: 2rem;
}

/* Layout Components
------------------------------------------------------------------------------*/
/* header */
.header {
  position: sticky;
  top: 0;
  background: var(--background-color);
  z-index: 999;

  .header-ctn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 67px;

    .navigation-ctn {
      display: flex;
      align-items: center;
      gap: 8px;
    }
  }
}

.footer {
  background: var(--secondary-color);
  .footer-ctn {
    padding: 100px 0 0px;

    .footer-cta {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      justify-content: center;
      margin: 3rem 0;
    }
  }

  .links {
    display: flex;
    justify-content: center;
    gap: 3rem;
    .footer-list {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding: 1rem 0;
      ul {
        display: flex;
        flex-direction: column;
        gap: 1rem;
      }
    }
  }

  .copyright {
    border-top: 1px solid var(--border-color);
    height: 67px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

/* Page Sections 
------------------------------------------------------------------------------*/
/* hero section */
.hero {
  display: flex;

  p {
    order: 2;
  }

  .address {
    display: flex;
    justify-content: center;

    gap: 3rem;
    margin: 1rem 0;

    .image-card {
      width: 120px;

      .img-frame {
        height: 200px;
        margin: 1rem 0;
      }
    }
  }
}

/* expertise section */
.expertise {
  .indexed-card {
    margin-bottom: 3rem;
    .section-index {
      margin-bottom: 1rem;
      display: block;
    }
    .tags {
      display: flex;
      gap: 1rem;
      justify-content: center;

      a {
        font-weight: 600;
        padding-bottom: 1rem;
      }
    }
    .desc {
    }
  }
  .indexed-card:last-of-type {
    margin-bottom: 0;
  }
}

/* recent projects section */
.projects {
  .action-card {
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
    margin-bottom: 1rem;

    .img-frame {
      height: 300px;
      width: 100%;
      margin: 1rem 0;

      img {
        width: 100%;
        height: 100%;
      }
    }
    .sub-heading-3 {
      padding: 0;
    }
  }
}

/* work timeline */
.work-timeline {
  .timeline {

    .timeline-card {
      margin: 0 3rem;
      padding-bottom: 3rem;
      text-align: left;
      display: flex;
      flex-direction: column;

      .work-time {
        display: flex;
        gap: 1rem;
      }

      .my-taks {
        transform: translateX(2rem);
      }
    }
    .timeline-card:last-of-type {
      padding-bottom: 0;
    }
  }
}

/* Utitlities 
------------------------------------------------------------------------------*/
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/* external images
---------------------------------------------------------------------------- */
.fw {
  background-image: url("https://encrypted-tbn0.gstatic.com/licensed-image?q=tbn:ANd9GcTdnMhW99E9ffa_YTk1FeAklnirbjzu99w7cZYlbW2b5HtzcEVjmYF3lOK_YfC20O_C9kVJQJYh6pEISvTlMpppPUAboI_k9NSM5C4ekA");
  background-size: cover;
  background-repeat: no-repeat;
}
.nyc {
  background-image: url("https://images.unsplash.com/flagged/photo-1575597255483-55f2afb6f42c?q=80&w=1287&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-repeat: no-repeat;
}

.style-left-line {
  position: relative;
  &::before {
    content: "";
    display: inline-block;
    height: 1px;
    width: 20px;
    background: #dfdfdf;
    position: absolute;
    left: -30px;
    top: 10px;
  }
}

/* Vizual classes and enhancements
------------------------------------------------------------------------------*/

.guide-circle {
  position: relative;

  &::before {
    content: "";
    display: inline-block;
    width: 11px;
    height: 11px;
    background-color: #444;
    border-radius: 100%;
    position: absolute;
    left: -30px;
    top: calc(1rem / 3);
  }
}

.vertical-guide {
  position: relative;

  &::after {
    content: "";
    display: inline-block;
    width: 1px;

    height: 100%;
    background-color: #444;
    position: absolute;
    left: -25px;
    top: 11px;
  }
}

.vertical-guide:last-of-type {
  &::after {
    display: none;
  }
}

/* Tablet 
------------------------------------------------------------------------------*/
@media (min-width: 768px) {
  body {
    text-align: left;
  }

  /* layout components */
  header,
  footer,
  section {
    padding-right: 24px;
    padding-left: 24px;
  }

  section {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  /* hero */
  .hero {
    p {
      order: 0;
    }
    .address {
      flex-wrap: wrap;
      gap: 3em;

      a {
        min-width: 100%;

        .image-card {
          align-items: center;
          display: flex;
          height: 130px;
          width: 100%;
          gap: 1rem;

          p {
            width: 30%;
            text-align: right;
          }

          .img-frame {
            height: 100%;
            width: 70%;
          }
        }
      }

      a:last-of-type {
        .image-card {
          p {
            text-align: left;
          }
        }
      }
    }
  }

  /* expertise section */
  .expertise {
    .indexed-card {
      border-bottom: 1px solid var(--border-color);

      .section-index {
        font-size: 1.5rem;
      }

      .tags {
        gap: 0.8rem;
        justify-content: start;
      }
    }
  }

  /* recent projects section */
  .projects {
    .action-card-wrapper {
      display: flex;
      gap: 2rem;
    }
  }

  .footer {
    .footer-ctn {
      padding: 60px 2rem 0px;
      .heading-2 {
        font-size: clamp(10px, 4vw, 22px);
      }
      .wrapper {
        display: flex;
        margin-bottom: 30px;

        .footer-cta {
          flex-direction: column;
          margin: 1rem 0;
          width: 40%;
          align-items: start;
        }

        .links {
          width: 60%;
          gap: 4rem;
        }
      }
    }

    .copyright {
      border-top: 1px solid var(--border-color);
      height: 67px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  /* images */
  .fw {
    background-size: 100%;
    background-position: center;
  }

  .nyc {
    background-size: 100%;
    background-position: center -450px;
  }
}

/* Desktop 
------------------------------------------------------------------------------*/

@media (min-width: 1024px) {
  p {
    max-width: 65ch;
  }
}
